.findps_box{width:750px;height:350px;margin:50px auto;}
.findps_box p{font-size: 20px;font-weight: 900;text-indent: 1em;height:20px;line-height:20px;}
.findps_box hr{width:100%;border:2px solid #434343;}
.findps_box form{width:80%;margin:140px auto;border: 1px solid #fff;}
.findps_box form label{font-size: 18px;padding-top:4px;font-weight: 700;width: 200px;}
.findps_box form input{width:75%;}
.findps_box form button{font-size: 18px;margin-top:20px;padding: 4px 15px;}