{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Change password" %}{% endblock %}
{% block subnav %}{% endblock %}
{% block body %}
    <div class="row email_box">
        <div class="col-md-5 change_email">
        <legend class="email_nav">{% trans "Change password" %}</legend>
            <form class="form-horizontal" method="POST" action="">
                
                
                    {% csrf_token %}
                    {{ form|bootstrap }}
               <!--      <div class="form-group">
                <label for="inputPassword" class="col-md-4 control-lable">旧&nbsp;密&nbsp;码:</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="inputPassword" >
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-4 control-lable">新&nbsp;密&nbsp;码:</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="inputPassword" >
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-4 control-lable">密码确认:</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="inputPassword" >
                </div>
            </div> -->

           <button type="submit" class="btn btn-primary col-md-offset-4">{% trans "Save" %}</button>
               
            </form>
        </div>
    </div>
{% endblock %}
